<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds" debug="false">
    <contextName/>
    <property name="log.path" value="/data/logs/"/>
    <property name="log.pattern" value="[%d{HH:mm:ss.SSS}][%thread][%level][%logger{50}] %msg%n"/>
    <property name="log.file" value="${log.path}/spring.%d{yyyy-MM-dd}.log"/>

    <!-- 多环境日志配置 -->
    <springProfile name="stage">
        <property name="log.level" value="debug"/>
    </springProfile>
    <springProfile name="prod">
        <property name="log.level" value="info"/>
    </springProfile>

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 该级别下的日志会被过滤掉 -->
        <!--
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
         -->
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.file}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

    <logger name="me.yukuixing.springwebdemo" level="${log.level}" additivity="false">
        <appender-ref ref="file"/>
    </logger>
</configuration>